.background {
  background: black;
  background-image: url(/images/_DSC2239_0400px_rect.jpg);
  background-repeat: no-repeat;
  background-position: center 70px;
}
.text, h1 {
  color: #ffffff;
}
ol, ul, li {
  color: #ffffff;
}
a:link {color: #e8ac00;}
a:visited {color: #e8ac00;}
a:hover {color: #ffffff;}
a:active {color: #e8ac00;}
